[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bilibili_api_python="16.2.0"
rich="13.7.1"
setuptools="70.0.0"
yt-dlp = "*"

[requires]
python_version = "3.11"